*{
    margin:0%;
    width: auto;

    font-family: "Hammersmith One",sans-serif;


}
.page{
    display:grid;
    grid-template-columns: 1fr 4fr;
    color:black;
    height:100vh;   

}



.dashboard{
    padding:35px;
    display:flex;
    flex-direction: column;
    background-color: #794eed;
    grid-row: 1/2;
    gap:20px;
    color:whitesmoke;
    
}
.logoset{
    
    display:flex;
    gap:20px;
    align-items: center;
    padding-top:17px;
}
.logos{
    display:flex;
    align-items: center;
    gap:15px;
}
.mainlogo{
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(322deg) brightness(101%) contrast(101%);   
}
.flex1{
    font-size: 30px;

}
.flex2{
    font-size: 18px;
}
.logo{
  height:20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(322deg) brightness(101%) contrast(101%);
}
.logo2{
    height:22px;
}
.header{
 
    display:grid;
    flex-direction: row;
    background-color:aliceblue;
    padding-left:25px;
    padding-right: 25px;
    padding-top:15px;
    filter:drop-shadow(5px 0px 3px rgb(153, 156, 165))

}
.toprow{
    display:flex;
    width:100%;
    align-items: center;
}
.search{
    display:flex;
    gap:20px;
    align-items: center;
}
input[type=text]{
    width:400px;
    background-color: rgb(198, 214, 231);
    border-style: none;
    height:20px;
    border-radius: 15px;
    padding-left:10px;
}
.topright,.topright2{
    margin-left:auto;
}
.topright{
    gap:20px;
    display:flex;
    align-items: center;
}
.botrow{
    display:flex;
    align-items: center;
}
.greeting{
    display:flex;
    gap:15px;
}
.greetingtext{
    display:grid;

}
.hello{
    font-size: 14px;
}
.name{
    font-size:18px;
}
.avatar{
    height:30px;
}
.avatar2{
    height:50px;
}
.topright2{
    display: flex;
    gap:15px;
    align-items: center;


    
}
.toprightbut{
    color: aliceblue;
    background-color: #794eed;
    border-radius: 30px;
    font-size:12px;
    height:28px;
    width:75px;
    transition-duration: .4s;
    border-style: none;
}
.toprightbut:hover{
    background-color: aliceblue;
    color: #794eed;
    border: 2px solid #794eed;
}
.right{
    display:grid;
    grid-template-columns: 1fr;
}
.content{
    background-color: rgb(222, 237, 251);


    display:grid;
    grid-template-columns: 3fr 1fr;
    height: auto;

    

}
.projectsbig{
    padding:20px;
}
.projects{
    padding-top:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;


    


}
.card{
    padding-top: 15px;
    display:flex;
    flex-direction: column;
    gap:10px;
    background-color: aliceblue;
    height:150px;
    width: 95%;
    filter:drop-shadow(5px 5px 3px rgb(153, 156, 165));
    border-radius:15px;
    position: relative;
    top:0;
    left:0;
    transition: ease .5s;   
    
    z-index: 1;
}
.card>p, .card>h2{

    margin-left:35px;
    margin-right:35px;
}
.card>h2{
    font-size: 25px;
}
.card>p{
    font-size: 14px;
    color:rgb(143, 143, 143);
}
.card>h2{
    font-size:15px;
}
.card:before{
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:5%;
    height:100%;
    content:"";
    background-color:rgb(236, 200, 0);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card:hover{
    background-color: azure;
    top: -5px;
    left: -5px;
}
.cardbuttons{
    margin-right:35px;
    display:flex;
    flex-direction: row;
    margin-left:auto;
    gap:7px;
    margin-top:auto;
    margin-bottom:10px;
}
.cardbut{
    height:22px;
}
.rightcol{
    padding-left:20px;
    padding-right:20px;

    display:grid;
    gap:20px;
    padding-bottom: 35px;
    padding-top:15px;

}

.announcements, .trending{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    background-color: aliceblue;
    height:240px;
    filter:drop-shadow(5px 5px 3px rgb(159, 159, 159));
    border-radius:15px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
   


}
.announcecard, .trendcard{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}
.projectsbig>p,.announce>p,.trend>p{
    font-size: 20px;
}
.greybar{
    width:80%;
    height:1px;
    background-color: rgb(188, 202, 202);

    
}
.announcecard>p{
    font-size: 10px;
    color:rgb(143, 143, 143);
    margin-left:20px;
    margin-right:20px;
}
.trendcard{
    display:flex;
    flex-direction: row;
}
.trendcard>img{
    height:40px;
}